body {
	background:  #ebedef;
}
/*--------------------------------------------------
					SEARCH BAR SECTION
---------------------------------------------------*/
#search {
	width: 960px;
	margin: auto;
	height: 25px;
	margin-top: -25px;
}
form.search input[type=text] {
	width: 200px;
	height: 20px;
	padding-left: 5px;
  	font-size: 12px;
  	border: 1px solid #444;
  	float: right;
  	display: inline;
  	background: #fff;
}
form.search button {
  	float: right;
  	height: 24px;
  	width: 24px;
  	padding: 0px;
  	background: #2e2728;
  	color: #fff;
  	border: 1px solid #444;
  	border-left: none;
}
form.search button:hover {
  	background: #ebedef;
  	color: #2e2728;
}
/*--------------------------------------------------
					TITLE BAR SECTION
---------------------------------------------------*/
#title{
	width: 970px;
	padding: 0;
	margin: 0 auto;
	color: #2e2728;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 13px;
}
/*--------------------------------------------------
				MENU BAR SECTION
---------------------------------------------------*/
#header {
	width: 970px;
	height: 26px;
	margin: 0 auto;
	margin-top: 25px;
	border-bottom-width: thin;
	border-top-width: thin;
	border-left-width: thin;
	border-right-width: thin;
	border-style: solid;
	border-color: #444;
}
#socialmedia {
	margin-top: -7px;
	padding: 0;
}
#socialmedia, #socialmedia a {
	float: left;
}
#socialmedia img:hover{
	opacity: .75;
}
.clearfix: after {
	display: block;
	clear: both;
}
.menu-wrap {
	z-index: 1;
	margin: -13px 0px;
	float: right;
}
.menu li {
	margin-top: 1px;
	list-style: none;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}
.menu a {
	text-decoration: none;
	color: #2e2728;
}
.menu > ul > li {
	float: left;
	display: block;
	font-size: 13px;
}
.menu > ul > li > a {
	padding: 4px 10px;
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
	background: #2e2728;
	color: #fff;
}
.menu li:after {
	content:'|';
	color: #2e2728;
	display: inline-block;
}
.menu li:last-child:after {
	content: none;
}
.menu li:hover .sub-menu {
	opacity: 1;
	display: block;
}
.sub-menu {
	padding: 5px 0px;
	margin-top: -2px;
	position: absolute;
	z-index: 1;
	display: none;
}
.sub-menu li {
	background: #2e2728;
	font-size: 13px;
	padding: 0px 5px 10px 5px;
	height: 17px;
	margin-top: -1px;
}
.sub-menu li:first-child {
	padding-top: 7px;
}
.sub-menu li:last-child {
	padding-bottom: 10px;
}
.sub-menu li a {	
  	display: block;
  	color: #fff;
}
.sub-menu li a:hover,
.sub-menu .current-item a {
  	background: #3e3436;  	
}
/*--------------------------------------------------
					CONTENT SECTION
---------------------------------------------------*/
#content-home {
	width: 960px;
	height: 560px;
    margin: 0 auto;
}
#content {
	width: 960px;
	margin: 5px auto;
}
#content h1 {
	letter-spacing: -1px;
	font-size: 28px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: #444;
    text-align: center;
    margin-bottom: -10px;
    margin-top: -5px;
}
#content h2 {
	letter-spacing: -1px;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: #444;
	margin-bottom: -1px;
}
#content h3 {
	letter-spacing: -1px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: rgb(94,0,14);
	margin-left: 15px;
}
#content h4 {
	letter-spacing: -1px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: rgb(94,0,14);
    display: inline;
}
#slideshow {
	position: relative;
	z-index: -1;
}
#slideshow img {
	position: absolute;
	align: center;
	left: 85px;
	top: 15px;
	z-index: -1;
}
/*--------------------------------------------------
					GALLERY SECTION
---------------------------------------------------*/
.glry_2items {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fraction*/
}
.glry_3items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}
.item .desc_2items 
{
    width: 300px;
    height: 23px; 
    margin-top: 177px;
    margin-left: 90px;
    background: rgba(0,0,0,.5); 
    position: absolute; 
    display: block;
    font-family: Oswald;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}
.item .desc_3items 
{
    width: 298px;
    height: 23px; 
    margin-top: 177px;
    margin-left: 10px;
    background: rgba(0,0,0,.5); 
    position: absolute; 
    display: block;
    font-family: Oswald;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}
/*Individual Gallery Pages*/
td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 2px solid #444;
}
td a:hover img {
   border: 2px solid rgb(24,90,109);
}
.image_Descr {
    margin: auto;
    width: 315px;
}
.image_pDescr {
    margin: auto;
    width: 215px;
}
.image_Title{
    letter-spacing: -1px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: #444;
    display: inline;
    padding-left: 2px;
}
.image_Location{
    letter-spacing: -1px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	color: rgb(94,0,14);
    display: inline;
    padding-left: 2px;
}
.edition_Type{
    letter-spacing: -1px;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
    font-weight: bold;
	color: #444;
    display: inline;
    padding-left: 2px;
}
/*Individual Gallery Pages*/
.image_align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#wrapper {
	width: 900px;
	overflow: hidden;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.left {
	float: left;
	width: 425px;
	margin-left: 50px;
	color: #444;
	font-size: 13px;
}
.right {
	float: right;
	width: 300px;
	margin-right: 50px;
    margin-top: 25px;
	color: #444;
	font-size: 13px;
}
#map {
	width: 800px;;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 120px;
	height: 250px;
}
.purchase_Options {
    display: inline-block;
}
.purchase_Options a {
    margin-left: 100px;
}
.finish {
    display: none;
}   
.size {
    display: none;
}
.button {
    display: none;
}
.selected_Dropdowns select {
  width: 200px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 30px;
}
/*--------------------------------------------------
					WEDDING SECTION
---------------------------------------------------*/
#testimonial {
	width: 960px;
	overflow: hidden;
	margin-top: 0px;
	color: #444;
	font-size: 13px;
}
#t_left {
	float: left;
	width: 430px;
	padding-right: 30px;
	border-right: 1px solid;
	border-right-color: #444;
}
#t_right {
	float: right;
	width: 430px;
	padding-right: 35px;
}
.testimonial_text {
	margin-top: -100px;
	padding-left: 120px;
	font-size: 15px;
	font-style: italic;
}
.testimonial_name {
	padding-left: 120px;
	font-family: 'Oswald';
	font-size: 14px;
	font-weight: bold;
	color: #444;
	display: inline;
}
.testimonial_location {
	padding-left: 120px;
	font-family: 'Oswald';
	font-size: 14px;
	color: rgb(94,0,14);
	display: inline;
}
/*--------------------------------------------------
					FINEART SECTION
---------------------------------------------------*/
.anchor_links {
	text-align: center;
}
.anchor_links h1 {
	display: inline;
	padding-right: 15px;
	letter-spacing: -1px;
	font-size: 28px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: #444;
}
.anchor_links h1:last-child{
	padding-right: 0px;
}
.anchor_links h1 a{
	color: #444;
}
#content p.info{
	font-size: 20px;
	display: inline;
	color: rgb(94,0,14);
	font-family: 'Oswald', sans-serif;
}
#content p.tagline{
	font-size: 16px;
	display: inline;
	color: #444;
	font-family: 'Oswald', sans-serif;
}
#stylesfinishes {
    margin: auto;
}
.indvd_Finish{
    float: left;
    width: 32%;
    margin: 0 auto;
    padding: 5px;
}
#clear {
    clear: both;
}
#installslideshow {
	position: relative;
	height: 435px;
}
#installslideshow img {
	position: absolute;
	align: center;
	left: 85px;
	top: 15px;
}
.table_format table{
	border: 1px #444;
}
.table_format tr {
    height: 25px;
   	font-family: 'Oswald';
}
.table_format tr:first-child {
	color: #ebedef;
	background-color: #444;
}
.table_format td{
	border: 1px solid #444;
}
.table_format td:first-child {
    padding-left: 5px;
    width: 115px;
}
.table_format td:not(:first-child) {
    padding-left: 0px;
    width: 65px;
    text-align: center;
}
.pricing_Matrix {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fraction*/
}
.minimize a{
	font-family: 'Oswald';
	color: #444;
	font-size: 14px;
	text-decoration: none;
}
/*--------------------------------------------------
					CONTACT FORM SECTION
---------------------------------------------------*/
#contact_text{
	float: left;
	width: 535px;
    padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	color: #444;
}
#form {
	float: left;
    width: 390px;
	padding-left: 0px;
	margin-top: -8px;
	font-family: 'Oswald';
	border-left: 1px solid;
}
.contactform {
	font-size: 14px;
}
.contactformmessage{
	padding-left: 4px;
}
.contactform td:first-child {
	color: #444;
    width: 125px;
}
.contactform label {
	padding: 4px;
}
.required {
	font-weight: bold;
}
.not-required {
	font-weight: normal
}
.required_star {
	font-weight: bold;
	color: rgb(94,0,14);
}
input#AntiSpam {
    float: left;
    margin-left: 0px;
}
/*--------------------------------------------------
					FOOTER SECTION
---------------------------------------------------*/
#footer {
	width: 100%;
	background-color: #444;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 12px;
	text-align: center;
}