#individualGalleryPageContent {
    width: 60%;
    margin: 0 auto;
}
.galleryTableItem {
    margin: 0;           
    padding: 0;    
    position: relative;      
}
.galleryTableItem h1 {
    margin: 0;           
    letter-spacing: -.5px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(68, 68, 68, 0.3);
    background: linear-gradient(90deg, #444, rgb(94, 0, 14));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.galleryTableItem h5{
    letter-spacing: -0.5px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: rgb(94, 0, 14);
    text-align: center;
    font-weight: normal;
}
.galleryTableItem p{
    margin-top: 5px;
    letter-spacing: -1px;
    font-size: 16px;
    color: #444;
    font-family: sans-serif;
}
.galleryTableItem a img {
    transition: transform 0.3s ease, opacity 0.3s ease; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%; 
}
.galleryTableItem a img:hover {
    transform: scale(1.05);
    filter: brightness(0.85); 
}
.galleryPhotoHoverText {
    font-size: 24px;
    font-weight: lighter;
	font-family: 'Oswald';
    position: absolute;
    inset: 0;
    color: #fff;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; 
}
.galleryTableItem:hover .galleryPhotoHoverText {
    visibility: visible; 
}
.imageDesc {
    padding-left: 6px;
}
.imagePortraitDesc {
    padding-left: 5px;
}
.imageLocation{
    letter-spacing: -1px;
	font-size: 18px;
    font-weight: bold;
	font-family: 'Oswald';
	color: rgb(94,0,14);
    display: inline;
    padding-left: 2px;
}
.editionType{
    letter-spacing: -1px;
	font-size: 16px;
	font-family: 'Oswald';
	color: #6A4E19;
    display: inline;
    padding-left: 2px;
}
/******* Individual Gallery Pages *******/
#galleryNavLinks {
    overflow: visible;
}
#galleryNavLinks h1{
    text-align: left;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
	color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
#galleryNavLinks h1 span {
    margin: 0 5px;
    color: #444; 
}
#galleryNavLinks h1 a {
    text-decoration: underline;
	color: rgb(94,0,14);
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}
#galleryNavLinks h1 a:hover {
    transform: scale(1.1);
    color: rgb(24, 90, 109);
    z-index: 2;
}
#individualGalleryPageContent h2 {
    letter-spacing: -.5px;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(68, 68, 68, 0.3);
    background: linear-gradient(90deg, #444, rgb(94, 0, 14));
    -webkit-background-clip: text; /* For Safari and older Chrome */
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}
#galleryPhotoContainer {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
#galleryNavLeftArrow,
#galleryNavRightArrow {
    width: 10%; 
    padding: 5px;
    margin-top: -2%;
}
/* RightArrow is automatically aligned correctly (left) */
#galleryNavLeftArrow,
#galleryNavPortraitLeftArrow { 
    text-align: right; 
}
#galleryNavPortraitLeftArrow,
#galleryNavPortraitRightArrow {
    width: 25%; 
    padding: 5px;
    margin-top: -2%;
}
#galleryImage {
    text-align: center;
    position: relative;
    width: 80%;
}
#galleryPortraitImage {
    text-align: center;
    position: relative; 
    width: 50%;
}
#galleryImage img,
#galleryPortraitImage img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain; 
    display: block;
    margin: 0 auto;
}
#displayCounter {
    text-align: right;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: bold;
    color: #444;
}
#galleryPhotoInformation {
	width: 100%;
	overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Enables wrapping if necessary */
    justify-content: space-between;
}
#galleryPhotoInformation h3 {
    letter-spacing: -.5px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin-bottom: -1px;
    text-shadow: 1px 1px 5px rgba(68, 68, 68, 0.3);
    background: linear-gradient(90deg, #444, rgb(24, 90, 109));
    -webkit-background-clip: text; /* For Safari and older Chrome */
    background-clip: text; /* Standard */
    -webkit-text-fill-color: transparent; /* Ensures the text itself is transparent */
}
#galleryInfoLeftSide,
#galleryInfoRightSide {
    display: inline-block; /* Ensures they appear side by side initially */
    vertical-align: top; 
    color: #444;
	font-size: 13px;
}
#galleryInfoLeftSide {
    width: 50%;
    padding-left: 5%;
}
#galleryInfoRightSide {
    width: 35%; 
    padding-right: 5%;
}
#galleryInfoRightSide h4 {
	letter-spacing: -1px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: rgb(94,0,14);
    display: inline;
}
.purchaseOptions {
    display: inline-block;
}
.purchaseOptions a {
    margin-left: 80px;
    color: #428bca;
    text-decoration: none;
    font-size: 22px;
}
.addToCartButton {
    position: relative;
    display: inline-block;
    display: block;
    height: auto;
    max-width: 70px;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #428bca;
    color: #428bca;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: Pointer;
}
#galleryInfoMap {
	width: 90%;
	margin: 0 auto;
    height: 50vh; 
    max-height: 400px; 
}
.selectedDropdowns select {
    width: 200px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 30px;
}
.finish {
    display: none;
}   
.size {
    display: none;
}
  .button {
    display: none;
}
@media (max-width: 768px) {
    .imageLocation{
        font-size: 14px;
    }
    .imageDesc {
        height: 45px;
        padding: 0px;
    }
    .imagePortraitDesc {
        height: 45px;
        padding: 0px;
    }
    .galleryTableItem h5 {
        font-size: 14px;
    }
    .galleryPhotoHoverText {
        font-size: 18px;
        left: 50%;
        transform: translateX(-50%); 
        text-align: center; 
    }
    /* Individual Gallery Pages */
    #galleryNavLinks h1 {
        font-size: 12px;
    }
    #individualGalleryPageContent h2 {
        font-size: 28px;
    }
    #galleryImage {
        width: 90%;
    }
    #galleryImage img {
        width: 100%;
    }
    #galleryPortraitImage{
        width: 50%;
    }
    #galleryNavLeftArrow img,
    #galleryNavRightArrow img {
        width: 50%;
    }
    #galleryNavPortraitLeftArrow img,
    #galleryNavPortraitRightArrow img {
        width: 20%;
    }
    #galleryInfoLeftSide,
    #galleryInfoRightSide {
        display: block;
        width: 100%; 
        padding: 0;
    }
    .addToCartButton {
        max-width: 80px;
    }
}
@media (max-width: 1120px) {
    #individualGalleryPageContent {
		width: 100%;
	}
}
@media (min-width: 1121px) and (max-width: 1600px ) {
    #individualGalleryPageContent {
		width: 60%;
	}
}